<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"	
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nellem.datoBoard">
	<resultMap type="board" id="boardResult">
		<result property="no" column="no"/>
		<result property="boardNo" column="boardNo"/>
		<result property="hits" column="hits"/>
		<result property="title" column="title"/>
		<result property="writer" column="writer"/>
		<result property="content" column="content"/>
		<result property="regdate" column="regdate"/>
		
		<result property="boardName" column="boardName"/>
		<result property="countBoard" column="countBoard"/>
		<result property="countReply" column="countReply"/>
		<result property="profile_img" column="profile_img"/>
		
		<result property="startRow" column="startRow"/>
		<result property="endRow" column="endRow"/>
	</resultMap>

	<select id="selectAll" resultMap="boardResult">
		select * from board order by no desc
	</select>

	<select id="selectMainPage" resultMap="boardResult">
		 <![CDATA[select * from board where ROWNUM <= 24 and boardNo not in (0,1) order by no desc]]> 
	</select>
	
	<select id="selectPart" resultMap="boardResult">
		select * from board where boardNo = #{boardNo} order by no desc
	</select>
	
	<select id="selectOne" resultMap="boardResult">
		select board.*, (select member.profile_img from member where member.id = board.writer) as profile_img from board where board.no = #{no}
	</select>
	
	<select id="selectJoin" resultMap="boardResult">
		select board.*, (select count(*) from reply where reply.boardNo = board.no) as countReply, (select member.profile_img from member where member.id = board.writer) as profile_img from board where board.boardNo = #{boardNo} order by board.no desc
	</select>
	
	<select id="selectPartTotalCount" resultMap="boardResult">
		select count(*) as countBoard from board where boardNo = #{boardNo}
	</select>
	
	<select id="selectSearchAllBoard" resultMap="boardResult">
		select board.*, (select boardtype.boardname from boardType where board.boardno = boardType.boardno) as boardName from board where title like #{keyword} order by no desc
	</select>
	
	<select id="selectPagingBoard" resultMap="boardResult">
		select rnum, no, boardNo, title, writer, content, hits, regdate from (select rownum as rnum, no, boardNo, title, writer, content, hits, regdate from (select no, boardno, title, writer, content, hits, regdate from board order by no desc)) where rnum between #{startRow} and #{endRow}
	</select>
	
	<insert id="boardInsert" parameterType="board">
		insert into board(no, boardNo, hits, title, writer, content, regdate) values(seq_board_no.nextval, #{boardNo}, 0, #{title}, #{writer}, #{content}, sysdate)
	</insert>
	
	<update id="boardUpdate" parameterType="board">
		update board set title=#{title}, content=#{content} where no = #{no}
	</update>
	
	<update id="boardHitsUpdate" parameterType="board">
		update board set hits=hits+1 where no = #{no}
	</update>
	
	<delete id="boardDelete" parameterType="board">
		delete from board where no = #{no}
	</delete>
</mapper>